<!DOCTYPE html>
<html>
<title>Wetterstation</title>
<script src="Log.js" async></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="einfügen.ico" />		<!-- Symbol in Tab- Leiste, ico Datet noch erstellen -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles.css">
<body class="w3-light-grey">

<!-- Oberleiste --->
<div class="w3-bar w3-top w3-black w3-medium" style="z-index:4">
	<span class="w3-bar-item w3-left">Wetterstation-Gruppe 14</span>
	<span class="w3-bar-item w3-display-middle" style="font-size:0.5cm">iSystem17  V1.0</span>
	<span class="w3-bar-item w3-right">Marcel Weid Fabian Schoch</span>
</div>


<!-- Menü auf linker Seite-->
<nav class="w3-sidebar w3-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
	<div class="w3-container w3-row">
		<div class="w3-col s4" style="margin-top:1cm">
			<font size="5" color="black">
			<div id="Datum"></div>
		</div>
	</div>
	
	<hr> <!-- Tresstrich-->
	
	<div class="w3-container" style="margin-bottom:0.3cm">
		<h4>Menü</h4>
	</div>
	<div class="w3-bar-block">		<!-- Menüunterpunkte mit Links zu den geforderten Seiten -->
		<font size="5">
			<a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sun-o fa-fw"></i> Aktuelles Wetter</a>
			<a href="/Wetterkarte" class="w3-bar-item w3-button w3-padding"><i class="fa fa-globe fa-fw"></i> Wetterkarte</a>
			<a href="/Verlauf" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i> Wetterverlauf</a>
			<a href="/Einstellungen" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i> Einstellungen</a>
			<!-- Link einfügen -->
			<a href="/Log" class="w3-bar-item w3-button w3-padding  w3-blue" ><i class="fa fa-book fa-fw"></i> Log</a>
		</font>
	</div>
	<div id="ws_status" class="footer">
	</div>
</nav>



<section class="row">
	<div  class="AbstandHauptdaten">
		<h1>Logdaten:</h1>
		<div class = "Log"></div>

	</div>
</section>

</body>
</html>
