

/*
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}>
p{margin-top: 3em;}
#TopAbstand { margin-bottom: 10px; margin-top: 1.5cm;}	
#Seitenabstand { margin-left: 9cm; }	
#Zeilenabstand_Div { margin-bottom: 10px; }
*/


/*Beginn der Daten auf den Webseiten*/
div.AbstandHauptdaten{

	margin-left: 10cm;
	margin-top: 2cm;
	
}

/*Style für Log Seite*/
div.Log{
	
	margin-top: 1cm;
	background: white;
	border: 2px solid black;
	height: 13cm;
	width: 20cm;
	overflow-y: scroll;
	
}

/*Style für Verlauf Seite*/
div.Verlauf{
	
	margin-top: 1cm;
	background: white;
	border: 2px solid black;

	height: 13cm;
	width: 25cm;
	overflow-y: scroll;
	
}

/*Style Einstallungen*/
.columnEinst{
	
	float: left;
	width: 50%;
	margin-top: 0.2cm;
	
}

/*Kontainer der Wetterdaten*/
.columnWetter{
	
	float: left;
	width: 7cm;
	background-color: #D7D7D7;
	margin-top: 1cm;
	border: 1px solid black;
	padding: 10px;
	height: 10cm;
	margin-right:1%;
	
}

/*Bemerkung unter Hauptdaten der Startseite*/
.Bemerkung{
	
	float: left;
	width: 20cm;
	margin-top: 0.5cm;
	font-size: 0.5cm;
	width: 100%;
	
}

/*Kontainer der Wetterdaten*/
.WetterDaten{
	
	color: black;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	font-size: 1cm;
}


/*MIN MAX AVG Überschrift auf Startseite*/
.UeberschriftMINMAXAVG{
	
	color: black;
	margin-top: 0.1cm;
	font-size: 0.5cm;
}



/*Status links unten*/
.footer {
  position: fixed; 
  left: 10px;
  bottom: 0px; 
  height: 64px;

}



/*Tabelle Wetterverlauf*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	
}

/*Tabelle Wetterverlauf*/
td, th {
    border: 1px solid #9A9A9A;
    text-align: left;
    padding: 8px;
    text-align: center;
}


/*Tabelle Wetterverlauf abwechselnde Farben*/
tr:nth-child(even) {

    background-color: #dddddd;
}

